/* reset start */
html,body{overflow:hidden; height:100%;}
body,h1,h2,h3,h4,p,ul,ol{ padding:0; margin:0; font:16px "微软雅黑";}
li{ list-style:none;}
img{ border:none;}
a{ text-decoration:none;}

/* common start */
.clear{zoom:1;}
.clear:after{ content:""; display:block; clear:both;}
.active{z-index:2; border:1px solid rgba(0,0,0,1)}
.blur{ filter: url(blur.svg#blur); -webkit-filter: blur(10px); -moz-filter: blur(10px);}
.shadow{background:radial-gradient(contain,rgba(0,0,0,0.2),rgba(0,0,0,0));
	background:-webkit-radial-gradient(contain,rgba(0,0,0,0.2),rgba(0,0,0,0));
	background:-moz-radial-gradient(contain,rgba(0,0,0,0.2),rgba(0,0,0,0));
	-webkit-animation:0.8s scale1 alternate infinite linear;
	-moz-animation:0.8s scale1 alternate infinite linear;
	animation:0.8s scale1 alternate infinite linear;}

/* frame start */
#main{width:100%; height:100%;}

#header{width:100%; height:80px; position:fixed; z-index:10;}

#content{width:100%; position:relative; overflow:hidden;}

#list{width:100%; position:absolute; top:0; left:0; -webkit-transition:.8s top; -moz-transition:.8s top;}
#list .liList{ width:100%; position:relative; overflow:hidden;}
#list .divList{position:absolute; top:50%; left:50%; width:1000px; height:520px;
	margin-left:-500px; margin-top:-260px;}


/* nav start */
#headerContent{width:300px; height:300px;position:absolute; left:10%; top:0px;}
#headerContent .navKey{width:150px; height:150px; position:absolute; top:-210px; left:110px;}
#headerContent .navKey .nav li{width:40px; height:40px; border-radius:50%;
	position:absolute; left:0; top:0;}

#headerContent .navKey .nav li:hover{-webkit-transform:scale(1.2); border:2px solid;}
#headerContent .navKey .nav li.active{z-index:10; -webkit-transform:scale(1.2); border:2px solid}

#headerContent .navKey .nav .point{width:6px; height:6px; background:#fff; border-radius:50%; 
	margin-top:17px; margin-left:17px;}
#headerContent .navTxet{position:absolute; top:25px; left:25px; width:100px; height:30px; z-index:15;
	font-weight:bold; text-shadow:3px 2px 3px #625F5F; -webkit-text-shadow:3px 2px 3px #625F5F;}
#headerContent .navImg{position:absolute; top:-40px; left:0px; opacity:0.5;}
#headerContent .navShade{width:100px; height:20px; position:absolute; top:100px; left:10px;}
#headerContent .navAnimation{width:150px; height:150px; position:absolute; top:0; left:0;}
/* nav end */

/* cover start */
#cover{position:relative;}
#cover .coverContent1 img,#cover .coverShade{width:100%; height:100%; position:absolute; top:0; left:0;}
#cover .coverShade{opacity:0.2;background:#087; z-index:5;}

#cover .coverContent1{height:100%; position:absolute; top:0; left:0; 
 	-webkit-animation:40s linear infinite coverMove1; -moz-animation:40s linear infinite coverMove1;}
@-webkit-keyframes coverMove1{
	0%{left:0;}
	50%{left:-800px; }
	100%{left:0;}
}
@-moz-keyframes coverMove1{
	0%{left:0;}
	50%{left:-800px; }
	100%{left:0;}
}

#cover .coverContent2{width:140px; height:140px; position:absolute; top:50%; left:50%; margin-left:-70px;
	margin-top:-70px; -webkit-transform:rotate(25deg); border-radius:50%; z-index:10;}

#cover .coverContent2 .me{ height:120px; width:120px; z-index:7; position:absolute; top:0; left:0;
	border-radius:50%; overflow:hidden; -moz-transform:rotate(-25deg); -webkit-transform:rotate(-25deg);  
	-webkit-box-shadow: 5px 5px 15px rgba(125,125,125,0.8);
	-moz-box-shadow: 5px 5px 15px rgba(125,125,125,0.8);}
#cover .coverContent2 .me img{position:absolute; top:0px; left:-20px;}
#cover .coverContent2 .cross_x,#cover .coverContent2 .cross_y{width:100px; height:100px; position:absolute;
	left:15px; top:13px; background:#73CBD3; border-radius:50px; opacity:0.5;
	-webkit-box-shadow: 10px 15px 15px rgba(125,125,125,0.8);
    -moz-box-shadow: 10px 15px 15px rgba(125,125,125,0.8);}
/* cover end */

/* profile start */
#profile{background:#A09DE5;}
#profile .profileShade{width:100%; height:100%; opacity:0.2;
	background: -webkit-gradient(radial,center bottom,50,center bottom, 500, from(#fff), to(#A09DE5));
	background: -moz-gradient(radial, center bottom, 50,center bottom, 500, from(#fff), to(#A09DE5));}

#profile .aboutme{width:500px; height:400px; position:absolute; top:50px; left:300px;}

#profile .aboutme h1{font-size:22px; font-weight:900; text-shadow: 2px 2px 5px #089; color:#098;}
#profile .aboutme p{font-size:17px; font-weight:bolder; color:#2C2929; padding:10px 0 10px 20px;}
#profile .aboutme p span{height:40px; font-size:12px; color:#F1EEE8;}
/* profile end */

/* skills start */
#skills{background:#84A5DD;}
#skills .skillsShade{width:100%; height:100%; opacity:0.2;
	background: -webkit-gradient(radial,center bottom,50,center bottom, 500, from(#fff), to(#84A5DD));
	background: -moz-gradient(radial, center bottom, 50,center bottom, 500, from(#fff), to(#84A5DD));}

#skills .skillsContent .skllisList li{width:100px; height:100px; position:absolute; top:0; left:0; 
	width:100px; height:100px; border-radius:50%; display:none;
	-webkit-box-shadow: 5px 10px 15px rgba(125,125,125,0.8);
    -moz-box-shadow: 5px 10px 15px rgba(125,125,125,0.8);}

#skills .skllisList h2{text-align:center; margin-top:20%; font-size:12px; font-weight:bold;}
#skills .skllisList p{font-size:10px; color:#fff; text-align:center;}
#skills .skllisList span{font-size:12px; color:#fff; text-align:center; display:block;}

#skills .skllisTell{width:320px; height:200px; position:absolute; top:100px; left:340px;}
#skills .skllisTell p{font-size:18px; font-weight:bolder; text-align:center; padding:5px 0;
	-moz-text-shadow:1px 1px 3px #625F5F;-webkit-text-shadow:1px 1px 3px #625F5F;}
/* skills end */

/* works start */
#works{background:#87C4A3;}
#works .worksShade{width:100%; height:100%; opacity:0.2;
	background: -webkit-gradient(radial,center bottom,50,center bottom, 500, from(#fff), to(#87C4A3));
	background: -moz-gradient(radial, center bottom, 50,center bottom, 500, from(#fff), to(#87C4A3));}

#works .worksWrite1,#works .worksWrite2{width:230px; height:230px; position:absolute; top:150px; left:250px;}
#works .worksWrite1 h3,#works .worksWrite2 h3{width:115px; height:115px; position:absolute; top:-115px; left:0;
	background:#A2C6D1; font-size:18px; font-weight:bolder; color:#2C93B7; text-align:center; line-height:115px;
	-webkit-box-shadow: 5px 5px 10px rgba(125,125,125,0.8);-moz-box-shadow: 5px 5px 10px rgba(125,125,125,0.8);
	text-shadow:1px 1px 5px #625F5F; -webkit-text-shadow:1px 1px 5px #625F5F;}
#works .worksWrite1 li,#works .worksWrite2 li{width:115px; height:115px; position:absolute;
	-moz-transform-style:preserve-3d; -moz-perspective:140px;
	-webkit-transform-style:preserve-3d;-webkit-perspective:150px; transition:1s;}

#works .worksWrite1 li:nth-of-type(1){top:0; left:0;}
#works .worksWrite1 li:nth-of-type(2){top:0; left:115px;}
#works .worksWrite1 li:nth-of-type(3){top:115px; left:115px;}
#works .worksWrite1 li:nth-of-type(4){top:115px; left:0;}

#works .worksWrite1 ul div,#works .worksWrite2 ul div{width:115px; height:115px; position:absolute; top:0; left:0; opacity:0;}
#works .worksWrite1 .top1{-webkit-transform-origin:top; -webkit-transform:rotateX(-110deg);
	-moz-transform-origin:top; -moz-transform:rotateX(-110deg);
	background:url(../img/works1.png) no-repeat;}
#works .worksWrite1 .left1{-webkit-transform-origin:left; -webkit-transform:rotateY(110deg);
	-moz-transform-origin:left; -moz-transform:rotateY(110deg);
	background:url(../img/works1.png) no-repeat -115px 0;}
#works .worksWrite1 .top2{-webkit-transform-origin:top; -webkit-transform:rotateX(-110deg);
	-moz-transform-origin:top; -moz-transform:rotateX(-110deg);
	background:url(../img/works1.png) no-repeat -115px -115px;}
#works .worksWrite1 .left2{-webkit-transform-origin:right; -webkit-transform:rotateY(-110deg);
	-moz-transform-origin:right; -moz-transform:rotateY(-110deg);
	background:url(../img/works1.png) no-repeat 0 -115px;}

#works .worksWrite1 ul span,#works .worksWrite2 ul span{width:115px; height:115px; position:absolute; background:#fff; opacity:0;}


#works .worksWrite2{left:550px;}

#works .worksWrite2 li:nth-of-type(1){top:0; left:0;}
#works .worksWrite2 li:nth-of-type(2){top:0; left:115px;}
#works .worksWrite2 li:nth-of-type(3){top:115px; left:115px;}
#works .worksWrite2 li:nth-of-type(4){top:115px; left:0;}

#works .worksWrite2 .top1{-webkit-transform-origin:top; -webkit-transform:rotateX(-110deg);
	-moz-transform-origin:top; -moz-transform:rotateX(-110deg);
	background:url(../img/works2.png) no-repeat;}
#works .worksWrite2 .left1{-webkit-transform-origin:left; -webkit-transform:rotateY(110deg);
	-moz-transform-origin:top; -moz-transform:rotateX(-110deg);
	background:url(../img/works2.png) no-repeat -115px 0;}
#works .worksWrite2 .top2{-webkit-transform-origin:top; -webkit-transform:rotateX(-110deg);
	-moz-transform-origin:top; -moz-transform:rotateX(-110deg);
	background:url(../img/works2.png) no-repeat -115px -115px;}
#works .worksWrite2 .left2{-webkit-transform-origin:right; -webkit-transform:rotateY(-110deg);
	-moz-transform-origin:top; -moz-transform:rotateX(-110deg);
	background:url(../img/works2.png) no-repeat 0 -115px;}
/* works end */

/* contact start */
#contact{background:#F7BFBF;}
#contact .contactShade{width:100%; height:100%; opacity:0.2;
	background: -webkit-gradient(radial,center bottom,50,center bottom, 500, from(#fff), to(#F7BFBF));
	background: -moz-gradient(radial, center bottom, 50,center bottom, 500, from(#fff), to(#F7BFBF));}
#contact .contactContent li{width:110px; height:110px; position:absolute; top:300px; left:200px;
	border-radius:50%;
	-webkit-border-radius:50%; -moz-border-radius:50%;
	-webkit-box-shadow: 5px 10px 15px rgba(125,125,125,0.8);
    -moz-box-shadow: 5px 10px 15px rgba(125,125,125,0.8);
    box-shadow: 5px 10px 15px rgba(125,125,125,0.8);}
#contact .contactContent li img{width:110px; height:110px;}
#contact .contactContent li div{width:150px; height:18px; position:absolute; top:-25px; left:-20px; 
	color:#098; font-size:15px; text-align:center; font-weight:bold; opacity:0;
	transition:1s; -webkit-transition:1s;}

#contact .contactContent p{width:500px; height:30px; position:absolute; top:0; left:0;
	text-align:center; color:#098; font-size:18px; font-weight:bolder; 
	text-shadow:1px 1px 5px rgba(144,116,121,0.8); -webkit-text-shadow:1px 1px 5px rgba(144,116,121,0.8);}
/* contact end */

/* music start */
#music{position:absolute; top:40%; right:5%; width:200px;  height:260px; z-index:10;}
#music img{position:absolute; display:block; transition:1s; -webkit-transition:1s;-moz-transition:1s;}
#music img:nth-of-type(1){height:200px; cursor:move; }
#music img:nth-of-type(2){height:50px; top:50%; left:50%; margin-left:-25px; margin-top:-55px; cursor:pointer;
	z-index:10;}
#music img:nth-of-type(3){height:100px; top:140px; transform-origin: 10px 10px; 
	-webkit-transform-origin: 10px 10px; -moz-transform-origin: 10px 10px;}
#music .shadow1{
	width:120px; height:20px; margin:0 auto; position:absolute; left:40px; top:250px;
	background:radial-gradient(contain,rgba(0,0,0,0.2),rgba(0,0,0,0));
	background:-webkit-radial-gradient(contain,rgba(0,0,0,0.2),rgba(0,0,0,0));
	background:-moz-radial-gradient(contain,rgba(0,0,0,0.2),rgba(0,0,0,0));
	-webkit-animation:0.8s scale1 alternate infinite linear;
	-moz-animation:0.8s scale1 alternate infinite linear;
	animation:0.8s scale1 alternate infinite linear;
}
.Prompt{width:100px; height:16px; position:absolute; left:0; top:0; background:#089; opacity:0; z-index:12;
	font-size:12px; line-height:16px; color:#fff; text-align:center; border-radius:8px;}
@keyframes imgRotate{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
@-webkit-keyframes imgRotate{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes imgRotate{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@keyframes imgScale{
	0%{transform:scale(1.1,1.1);}
	20%{transform:scale(1.3,1.3);}
	40%{transform:scale(1.2,1.2);}
	60%{transform:scale(1.1,1.1);}
	80%{transform:scale(1.2,1.2); }
	100%{transform:scale(1.1,1.1);}
}
@-webkit-keyframes imgScale{
	0%{-webkit-transform:scale(1.1,1.1);}
	20%{-webkit-transform:scale(1.3,1.3);}
	40%{-webkit-transform:scale(1.2,1.2);}
	60%{-webkit-transform:scale(1.1,1.1);}
	80%{-webkit-transform:scale(1.2,1.2); }
	100%{-webkit-transform:scale(1.1,1.1);}
}
@-moz-keyframes imgScale{
	0%{-webkit-transform:scale(1.1,1.1);}
	20%{-webkit-transform:scale(1.3,1.3);}
	40%{-webkit-transform:scale(1.2,1.2);}
	60%{-webkit-transform:scale(1.1,1.1);}
	80%{-webkit-transform:scale(1.2,1.2); }
	100%{-webkit-transform:scale(1.1,1.1);}
}

/* time start */
#time{width:100px; height:100px; border:4px solid #098; border-radius:50%; margin:0 auto;
	position:absolute; top:30px; right:20%; z-index:18;
	-webkit-box-shadow: 5px 5px 10px rgba(125,125,125,0.8),inset 6px 4px 15px rgba(125,125,125,0.8);
    -moz-box-shadow: 5px 5px 10px rgba(125,125,125,0.8),inset 6px 4px 15px rgba(125,125,125,0.8);
    box-shadow: 5px 5px 10px rgba(125,125,125,0.8),inset 6px 4px 15px rgba(125,125,125,0.8);}
#time ul{width:100px; height:100px; position:relative; 
	text-shadow:3px 2px 3px #625F5F; -webkit-text-shadow:3px 2px 3px #625F5F;}
#time ul li{width:20px; height:20px; position:absolute; top:0; left:40px;
	-webkit-transform-origin:center 50px; -moz-transform-origin:center 50px;}
#time span{width:20px; height:20px; display:block; color:#098; font-size:8px;
	text-align:center; line-height:20px;}
#hour{ background:#098; width:6px; height:20px;position:absolute; top:30px; left:47px;
	-webkit-transform-origin:center bottom; border-radius:3px; -moz-transform-origin:center bottom;}
#minute{background:#098; width:4px; height:25px; position:absolute; top:25px; left:48px; border-radius:2px;
	-webkit-transform-origin:center bottom; -moz-transform-origin:center bottom;}
#second{background:#A70534; width:2px; height:30px; position:absolute; top:20px; left:49px; border-radius:1px;
	-webkit-transform-origin:center bottom; -moz-transform-origin:center bottom;}
#second2{background:#A70534; width:2px; height:30px; position:absolute; top:20px; left:49px; border-radius:1px;
	-webkit-transform-origin:center bottom; -webkit-transform:rotate(0deg);}
#bot{width:10px; height:10px; border-radius:50%; background:#098; position:absolute; top:45px; left:45px;}
#ceiling{width:30px; height:30px; background:#098; border-radius:50%; position:absolute; top:-55px; left:35px;}
#ceiling_line{width:2px; height:30px; background:#098; position:absolute; top:-30px; left:50px;}

#timeText{width:300px; position:absolute; top:110px; left:-70px; font-weight:900; font-size:15px;
	transition:1s; -webkit-transition:1s; color:#098; opacity:0;
	text-shadow:2px 2px 5px #625F5F; -webkit-text-shadow:2px 2px 5px #625F5F; }

/* loading start */
#loading{}
#loading div{ width:100%; height:50%; position:absolute; left:0; background:#0F524D; z-index:50; transition:1s;}
#loading div:nth-of-type(1){ top:0;}
#loading div:nth-of-type(2){ bottom:0;}
#loading span{ width:0%; height:4px; background:white; position:absolute; left:0; top:50%; 
	margin-top:-2px; z-index:60; transition:.5s;}
#loading p{width:100%; height:60px; position:absolute; left:0; top:50%; margin-top:-100px; z-index:60;
	font-size:50px; line-height:60px; text-align:center; font-weight:bolder; color:#28BDB3;}